footer {
  opacity: .7;
  max-width: 1200px;
  margin-inline: auto;
  font-size: 80%;
  padding-inline: 15px;
  text-align: center;

  .attribution {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding-block: 30px;
    flex-direction: column;
    gap: 6px;
  }

  span {
    display: block;
    padding: 5px;
  }
}


@media (min-width: 768px) {
  footer {
    .attribution {
    flex-direction: row;
    }
    span {
      padding: 0;
    }
  }
}